---
interface BreadcrumbItem {
  name: string;
  href: string;
}
interface Props {
  items?: BreadcrumbItem[];
}
const { items = [] } = Astro.props as Props;
---

{items.length > 0 && (
  <nav class="breadcrumbs section" aria-label="Breadcrumb">
    <ol>
      {items.map((item: BreadcrumbItem, index: number) => (
        <li>
          {index < items.length - 1 ? <a href={item.href}>{item.name}</a> : <span aria-current="page">{item.name}</span>}
        </li>
      ))}
    </ol>
  </nav>
)}
